<IfModule dir_module>
    DirectoryIndex index.php
	php_value memory_limit 512M
	AddDefaultCharset UTF-8
	php_value mbstring.internal_encoding UTF-8
</IfModule>
php_value memory_limit 512M
AddDefaultCharset UTF-8
php_value mbstring.internal_encoding UTF-8